img {
  margin: auto;
  display: block;
  min-width: 75%;
}


.img-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @extend %width;
  & a {
    display: block;
    flex: 50%;
    @media (min-width: 768px) {
      flex: 33%;
    }
    @media (min-width: 950px) {
      flex: 25%;
    }
  }
}

a>img {
  padding: 5px;
}

a>img:hover {
    padding: 0;
    border: 5px solid darkgray;
}

:focus {
  outline: none;
}
